*{
    margin: 0;
    padding: 0;
}

.inicio{
    background-color: rgb(212, 211, 211);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.logo-educa{
    width: 25%;
}

.comeco-lista-item{
   display: inline-block;
   margin: 20px 40px;
   font-size: 24px;
}

.meio{
    background-color: rgb(212, 211, 211);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 0 0;
}

.foto-escola{
    width: 105%
}

.meio-lista-item{
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    margin: 10px 10px;

    font-size: 10px 10px;
}

.logo-insta{
    width: 50%;
}