*{
    margin: 0;
    padding: 0;
}

.inicio{
    background-color: rgb(212, 211, 211);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.logo-educa{
    width: 25%;
}

.comeco-lista-item{
   display: inline-block;
   margin: 20px 40px;
   font-size: 24px;
}

.meio{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0;
}

.foto-escola{
    width: 30%
}

.meio-lista-item{
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px;
    font-size: 0px;
}

.logo-insta{
    width: 5%;
}

.logo-tele{
    width: 5%;
}